// Navigation Styles here
header {
    margin: 30px 15% 30px 15%;
    display: flex-column;
    justify-content: center;
    border-bottom: 2px dashed grey;
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        border-bottom: 2px dashed grey;
        .links {
            width: 48%;
            display: flex;
            justify-content: space-evenly;
            a {
                color: @font-color;
                font-size: 2rem;
            }
        }//en of links
    }// end of nav bar
    h2 {
        margin-top: 3%;
    }
}//end of header